<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myfreecloud.shop.repo.mapper.CarMapper">
    <resultMap id="BaseResultMap" type="cn.myfreecloud.shop.repo.entity.Car">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="car_id" jdbcType="INTEGER" property="carId"/>
        <result column="u_id" jdbcType="VARCHAR" property="uId"/>
        <result column="car_name" jdbcType="VARCHAR" property="carName"/>
        <result column="alive_flag" jdbcType="INTEGER" property="aliveFlag"/>
    </resultMap>
    <resultMap id="BaseResultMapCar" type="cn.myfreecloud.shop.transfer.dto.QueryUnionDtoUserCar">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="u_id" jdbcType="VARCHAR" property="uId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <collection property="carList" ofType="cn.myfreecloud.shop.repo.entity.Car" javaType="List">
            <result column="car_id" jdbcType="INTEGER" property="carId"/>
            <result column="car_name" jdbcType="VARCHAR" property="carName"/>
        </collection>
    </resultMap>
    <resultMap id="BaseResultMap2Collection" type="cn.myfreecloud.shop.transfer.dto.ResultMapTest">
        <collection property="queryUnionDtoUserCarList" ofType="cn.myfreecloud.shop.transfer.dto.QueryUnionDtoUserCar"
                    javaType="List">
            <result column="u_id" jdbcType="VARCHAR" property="uId"/>
            <result column="user_name" jdbcType="VARCHAR" property="userName"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <collection property="carList" ofType="cn.myfreecloud.shop.repo.entity.Car" javaType="List">
                <result column="car_id" jdbcType="INTEGER" property="carId"/>
                <result column="car_name" jdbcType="VARCHAR" property="carName"/>
            </collection>
        </collection>
    </resultMap>
    <resultMap id="QueryUnion2CollectionDtoUserCar" type="cn.myfreecloud.shop.transfer.dto.ResultMapTest">
        <collection property="queryUnionAllDtoUserCarList"
                    ofType="cn.myfreecloud.shop.transfer.dto.QueryUnionAllDtoUserCar" javaType="List">
            <result column="u_id" jdbcType="VARCHAR" property="uId"/>
            <result column="user_name" jdbcType="VARCHAR" property="userName"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="car_id" jdbcType="INTEGER" property="carId"/>
            <result column="car_name" jdbcType="VARCHAR" property="carName"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        car_id, u_id, car_name, alive_flag
    </sql>
    <!--使用传统的collection方式-->
    <select id="testCollection" resultMap="BaseResultMapCar">
        select
            user.u_id,
            user.user_name,
            user.name,

            car.car_id,
            car.car_name

            FROM
              t_user user
        LEFT JOIN t_car car on user.u_id = car.u_id
            AND user.alive_flag =car.alive_flag = '1'
            AND user.alive_flag = '1'
            AND car.alive_flag = '1'
    </select>

    <select id="testAllCollection" resultType="cn.myfreecloud.shop.transfer.dto.QueryUnionAllDtoUserCar">
         select
            user.u_id,
            user.user_name,
            user.name,

            car.car_id,
            car.car_name

            FROM
              t_user user
        LEFT JOIN t_car car on user.u_id = car.u_id
            AND user.alive_flag =car.alive_flag = '1'
            AND user.alive_flag = '1'
            AND car.alive_flag = '1'
    </select>
    <select id="testAllCollectionCollection" resultMap="BaseResultMap2Collection">
         select
            user.u_id,
            user.user_name,
            user.name,

            car.car_id,
            car.car_name

            FROM
              t_user user
        LEFT JOIN t_car car on user.u_id = car.u_id
            AND user.alive_flag =car.alive_flag = '1'
            AND user.alive_flag = '1'
            AND car.alive_flag = '1'
    </select>
    <select id="testAllCollectionDto" resultMap="QueryUnion2CollectionDtoUserCar">
        select
            user.u_id,
            user.user_name,
            user.name,

            car.car_id,
            car.car_name

            FROM
              t_user user
        LEFT JOIN t_car car on user.u_id = car.u_id
            AND user.alive_flag =car.alive_flag = '1'
            AND user.alive_flag = '1'
            AND car.alive_flag = '1'
    </select>
    <select id="fixAllCollectionDto" resultMap="BaseResultMapCar">
         select
            user.u_id,
            user.user_name,
            user.name,

            car.car_id,
            car.car_name

            FROM
              t_user user
        LEFT JOIN t_car car on user.u_id = car.u_id
            AND user.alive_flag =car.alive_flag = '1'
            AND user.alive_flag = '1'
            AND car.alive_flag = '1'
    </select>
</mapper>